// @EgoctlOverwrite NO
// @EgoctlGenerateTime {{generateTime}}
package invoker

import (
	"github.com/cute-angelia/go-utils/components/ibunt"
	"github.com/cute-angelia/go-utils/components/igorm"
	"github.com/cute-angelia/go-utils/components/loggerV3"
	"github.com/rs/zerolog"
	"github.com/spf13/viper"
)

var (
	Logger *zerolog.Logger
)

func InitCommon() error {
	// 日志
	Logger = loggerV3.Load("components.loggerV3").NewLogger()

	// bunt
	ibunt.Load("components.bunt").Init()

	// db
	igorm.New(
		igorm.WithDbName("company_ues"),
		igorm.WithDsn(viper.GetString("db.company_ues")),
		igorm.WithMaxIdleConns(1),
		igorm.WithMaxOpenConnss(2),
		igorm.WithLoggerWriter(Logger),
	).MustInitMysql()
	return nil
}
