// @EgoctlOverwrite NO
// @EgoctlGenerateTime {{generateTime}}
package main

import (
	"embed"
	"github.com/cute-angelia/go-utils/utils/conf"
	// "{{packagePath}}/config"
	"{{packagePath}}/pkg/invoker"
	"{{packagePath}}/pkg/router"
  "log"
)

///go:embed vue/dist/*
var assets embed.FS

const projectName = "{{packagePath}}"
const portSite = ":9305"

func main() {
	// config
	//config.InitConfig()
	if err := conf.MergeConfigWithPath("./"); err != nil {
		log.Println("日志加载失败", err)
	}

	// invoker
	invoker.InitCommon()

	// ServeHTTP
	router.ServeHTTP(projectName, portSite, assets)
}
