// @EgoctlOverwrite NO
// @EgoctlGenerateTime {{generateTime}}
package invoker

import (
	"github.com/cute-angelia/go-utils/components/ibunt"
	"github.com/cute-angelia/go-utils/components/igorm"
	"github.com/cute-angelia/go-utils/components/loggerV3"
	"github.com/go-chi/chi/v5"
	"github.com/rs/zerolog"
	"github.com/spf13/viper"
)

var (
	Logger *zerolog.Logger
	Chier  *chi.Mux
)

const (
	GormDbNameMonitor = "yq_monitor" 
)

func InitCommon() error {
	// 日志
	Logger = loggerV3.Load("components.loggerV3").NewLogger()

	// bunt
	ibunt.Load("components.bunt").Init()

	// db
	igorm.New(
		igorm.WithDbName(GormDbNameMonitor),
		igorm.WithDsn(viper.GetString("db." + GormDbNameMonitor)),
		igorm.WithMaxIdleConns(1),
		igorm.WithMaxOpenConnss(2),
		igorm.WithLoggerWriter(Logger),
	).MustInitMysql()
	return nil
}
