// @EgoctlOverwrite YES
// @EgoctlGenerateTime {{generateTime}}
package router

import (
	"github.com/go-chi/chi/v5"
	"{{packagePath}}/internal/router/api"
)

func Init{{modelName|upperFirst}}(r *chi.Mux) {
	r.Mount("{{apiPrefix}}", {{modelName}}Router())
}

func {{modelName}}Router() chi.Router {
	r := chi.NewRouter()
	// 中间件
	// r.Use(AdminOnly)
	r.Post("/{{modelName}}/info", api.{{modelName|upperFirst}}Info)
	r.Post("/{{modelName}}/delete", api.{{modelName|upperFirst}}Delete)
	r.Post("/{{modelName}}/listByPage", api.{{modelName|upperFirst}}List)
	r.Post("/{{modelName}}/createOrUpdate", api.{{modelName|upperFirst}}CreateOrUpdate)

	return r
}
